<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Live or Test DB-->
    <!--true--><!--false-->
    <add key="IsLiveDB" value="false" />
    <!--Test Message-->
    <add key="IsLiveParsing" value="false" />
    <!-- Server IP -->
    <!--<add key="EmailServerIP" value="10.3.0.71" />-->
    <add key="EmailServerIP" value="192.168.188.67" />
  </appSettings>
</configuration>  